<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Edit Event</div>
    <form class="ui form" action="/events/<%=event._id%>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" value="<%= event.title %>" name="event[title]">
        </div>
        <div class="field">
            <label>Post Content</label>
            <textarea name="event[body]"><%= event.body %></textarea>
        </div>
        <button class="ui big violet basic button">Update Event</button>
    </form>
</div>
<% include partials/footer %>